In [1]:
#Nama  : Choiru Nisa
#NIM   : 2221011400573
#Kelas : 05TPLM007

#Link github
# https://github.com/Nisa-source/Kecerdasan-Buatan/

# Data
company_detail_list = [
      {
          'name': 'Company 1',
          'domain': 'Retail',
          'country': 'United States'
      },
      {
          'name': 'Company 2',
          'domain': 'Technology',
          'country': 'United Kingdom'
      },
      {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'country': 'United States'
      }
  ]

employee_detail_list = [
     {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0005',
          'first_name': 'Ying Han',
          'last_name': 'Tan',
          'full_name': 'Ying Han Tan',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0015',
          'first_name': 'Kenneth',
          'last_name': 'Ng',
          'full_name': 'Kenneth Ng',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0018',
          'first_name': 'Rubby',
          'last_name': 'Lee',
          'full_name': 'Rubby Lee',
          'company': 'Company 2',
          'nationality': 'Hong Kong'
      },
     {
          'name': 'EMP-0017',
          'first_name': 'Robert',
          'last_name': 'White',
          'full_name': 'Robert White',
          'company': 'Company 1',
          'nationality': 'United Kingdom'
      }
  ]

In [2]:
#Nomor 1
# Mengurutkan perusahaan berdasarkan nama secara terbalik dan hanya menampilkan nama perusahaan
task1_result = sorted([{"name": c["name"]} for c in company_detail_list], key=lambda x: x["name"], reverse=True)
for company in task1_result:
    print(company)

{'name': 'Company 3'}
{'name': 'Company 2'}
{'name': 'Company 1'}

In [3]:
#Nomor 2
# Mencetak informasi nama, domain, dan negara dari setiap perusahaan dengan format rapi
for company in company_detail_list:
    print(f"{company['name']}: {company['domain']} ({company['country']})")

Company 1: Retail (United States)
Company 2: Technology (United Kingdom)
Company 3: Healthcare (United States)

In [9]:
#Nomor 3
# Membuat dictionary untuk mengelompokkan karyawan berdasarkan domain perusahaan
from collections import defaultdict
domain_employees = defaultdict(list)
for employee in employee_detail_list:
    domain = next(c["domain"] for c in company_detail_list if c["name"] == employee["company"])
    domain_employees[domain].append(employee["full_name"])

for domain, employees in domain_employees.items():
    print(f"{domain}: {employees}")

Retail: ['John Doe', 'Ying Han Tan', 'Robert White']
Technology: ['Tom Smith', 'Rubby Lee']
Healthcare: ['Andrew Sebastian', 'Kenneth Ng']

In [10]:
#Nomor 4
# Fungsi untuk mengembalikan karyawan beserta negara perusahaannya
def employees_with_company_country():
    return [
        {
            "full_name": e["full_name"],
            "company": e["company"],
            "country": next(c["country"] for c in company_detail_list if c["name"] == e["company"])
        }
        for e in employee_detail_list
    ]

task4_result = employees_with_company_country()
for employee in task4_result:
    print(employee)

{'full_name': 'John Doe', 'company': 'Company 1', 'country': 'United States'}
{'full_name': 'Tom Smith', 'company': 'Company 2', 'country': 'United Kingdom'}
{'full_name': 'Andrew Sebastian', 'company': 'Company 3', 'country': 'United States'}
{'full_name': 'Ying Han Tan', 'company': 'Company 1', 'country': 'United States'}
{'full_name': 'Kenneth Ng', 'company': 'Company 3', 'country': 'United States'}
{'full_name': 'Rubby Lee', 'company': 'Company 2', 'country': 'United Kingdom'}
{'full_name': 'Robert White', 'company': 'Company 1', 'country': 'United States'}

In [11]:
#Nomor 5
# Fungsi untuk menghitung kewarganegaraan karyawan di setiap perusahaan
def company_employee_nationalities():
    company_nationalities = defaultdict(lambda: defaultdict(int))
    for e in employee_detail_list:
        company_nationalities[e["company"]][e["nationality"]] += 1

    # Format hasil dalam bentuk list dictionary
    return [{"company": k, "employee_nationality": dict(v)} for k, v in company_nationalities.items()]

task5_result = company_employee_nationalities()
for company in task5_result:
    print(company)

{'company': 'Company 1', 'employee_nationality': {'Australia': 2, 'United Kingdom': 1}}
{'company': 'Company 2', 'employee_nationality': {'United States': 1, 'Hong Kong': 1}}
{'company': 'Company 3', 'employee_nationality': {'United States': 2}}

In [12]:
#Link github
# https://github.com/Nisa-source/Kecerdasan-Buatan/